# Toronto Neighborhood Part I
## Prepare the dataframe

### 1. Import the libraries

In [133]:
#import libraries
import pandas as pd # library for data analsysis
import numpy as np

### 2. Save the data from wikipedia 
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [134]:
# Wikipedia data has been saved as .csv file
data = pd.read_csv("toronto.csv") 
print('Size of the raw data: ', data.count())
data.head()

Size of the raw data:  Postcode        287
Borough         287
Neighborhood    287
dtype: int64

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### 3. Drop Borough with 'Not assigned' value

In [135]:
#Check how many borough has 'not assigned' (77)
data.groupby('Borough').count()

                  Postcode  Neighborhood
Borough
Central Toronto         17            17
Downtown Toronto        37            37
East Toronto             7             7
East York                6             6
Etobicoke               44            44
Mississauga              1             1
North York              38            38
Not assigned            77            77
Queen's Park             1             1
Scarborough             37            37
West Toronto            13            13
York                     9             9

In [136]:
#Drop the rows with borough that is 'not assigned'
df = data[data.Borough != 'Not assigned']
#Check how many borough has 'not assigned' (0)
df.groupby('Borough').count()
print('Size of the new dataframe: ', df.count())

Size of the new dataframe:  Postcode        210
Borough         210
Neighborhood    210
dtype: int64

### 4. Check the neighborhood that has 'Not assigned' value and change it to the Borough name

In [142]:
#Check the neighborhood with Not assigned
checkdf = df.Neighborhood == 'Not assigned'
#Change the 'not assigned' neighborhood to the borough name
column_name = 'Neighborhood'
df.loc[checkdf, column_name] = df.loc[checkdf, 'Borough']

df.head(10)

C:\Users\mpegyil\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\mpegyil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Queen's Park
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [143]:
#Check again if any neighborhood is 'not assigned'
df0 = df[df.Neighborhood == 'Not assigned']
df0

Empty DataFrame
Columns: [Postcode, Borough, Neighborhood]
Index: []

### 5. Combine the neighborhoods with the same postcode

In [144]:
#Combine the neighborhoods with same postcode in one row
nh = df.groupby('Postcode')['Neighborhood'].apply(list)
nhdf = pd.DataFrame(nh)
nhdf = nhdf.reset_index()
print(nhdf.head())
print(nhdf.count())

  Postcode                              Neighborhood
0      M1B                          [Rouge, Malvern]
1      M1C  [Highland Creek, Rouge Hill, Port Union]
2      M1E       [Guildwood, Morningside, West Hill]
3      M1G                                  [Woburn]
4      M1H                               [Cedarbrae]
Postcode        103
Neighborhood    103
dtype: int64

In [148]:
# Create a dataframe with only borough and postal code
br= df.drop('Neighborhood', 1)
print(br.head())
print(br.count())

  Postcode           Borough
2      M3A        North York
3      M4A        North York
4      M5A  Downtown Toronto
5      M6A        North York
6      M6A        North York
Postcode    210
Borough     210
dtype: int64

In [159]:
#Join new dataframe gk with the column Borough
df1 = pd.merge(br, nhdf, on='Postcode', how='inner')

#Drop duplicates
df1 = df1.loc[df1.astype(str).drop_duplicates().index]

#Reset index, drop the extra index column
df1 = df1.reset_index()
df1 = df1. drop('index', 1)

In [160]:
print(df1.head())
print(df1.count())

  Postcode           Borough                        Neighborhood
0      M3A        North York                         [Parkwoods]
1      M4A        North York                  [Victoria Village]
2      M5A  Downtown Toronto                      [Harbourfront]
3      M6A        North York  [Lawrence Heights, Lawrence Manor]
4      M7A      Queen's Park                      [Queen's Park]
Postcode        103
Borough         103
Neighborhood    103
dtype: int64

### 6. Print the number of rows in the final dataframe

In [161]:
df1.head(10)

  Postcode           Borough                        Neighborhood
0      M3A        North York                         [Parkwoods]
1      M4A        North York                  [Victoria Village]
2      M5A  Downtown Toronto                      [Harbourfront]
3      M6A        North York  [Lawrence Heights, Lawrence Manor]
4      M7A      Queen's Park                      [Queen's Park]
5      M9A  Downtown Toronto                      [Queen's Park]
6      M1B       Scarborough                    [Rouge, Malvern]
7      M3B        North York                   [Don Mills North]
8      M4B         East York   [Woodbine Gardens, Parkview Hill]
9      M5B  Downtown Toronto          [Ryerson, Garden District]

In [155]:
print('Noumber of rows in the dataframe: ', df1.shape[0])

Noumber of rows in the dataframe:  103