### Import Libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files
import csv # library to handle csv files

import geocoder as geocoder
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

from bs4 import BeautifulSoup
import requests

print('Libraries imported.')

Libraries imported.

### 1. London neighbbourhood informatio - Scraping data from Wikipedia

In [4]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_areas_of_London')
raw = dfs[1]
raw.head()

df1 = raw.drop(raw.index[0])
df1.columns = ['Location','London_borough','Post town','Postcode district','Dial Code','OS grid ref']
df1.head()

,Location,London_borough,Post town,Postcode district,Dial Code,OS grid ref
1,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
2,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
3,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
4,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
5,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [5]:
# Drop the unnecessary information and clean data
df = df1.drop(['Dial Code','OS grid ref'], axis = 1)
df = df.reindex()
df.head()

,Location,London_borough,Post town,Postcode district
1,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2
2,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4"
3,Addington,Croydon[8],CROYDON,CR0
4,Addiscombe,Croydon[8],CROYDON,CR0
5,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14"

In [6]:
df.shape

(533, 4)

get logitude and altitude of London Neighbourhood

In [7]:
def getLatLong(row):
    #print('post :{}'.format(row[:]))
    #print('neigh :{}'.format(row[1]))
    # initialize your variable to None
    lat_lng_coords = None
    search_query = '{}, London,UK'.format(row)
    # loop until you get the coordinates
    try:
        while(lat_lng_coords is None):
            #g = geocoder.here(search_query,app_id=app_id,app_code=app_code)
            g = geocoder.arcgis(search_query)
            lat_lng_coords = g.latlng
            #print('FIRST')
    except IndexError:
        latitude = 0.0
        longitude = 0.0
        print('BACKUP')
        return [latitude,longitude]

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    print(latitude, longitude)
    return [latitude, longitude]

In [8]:
# coords_list = df['Postcode district'].apply(getLatLong).tolist()

51.492450000000076 0.12127000000003818
51.51324000000005 -0.2674599999999714
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.452067760578885 0.1722299153689439
51.50642000000005 -0.1272099999999341
51.51200000000006 -0.08057999999994081
51.51651000000004 -0.11967999999995982
51.50642000000005 -0.1272099999999341
51.41009000000008 -0.05682999999993399
51.523610000000076 -0.09876999999994496
51.27172802817503 0.07471050704375404
51.56393000000003 -0.12944999999996298
51.58370000000008 0.17476000000004888
51.615680000000054 -0.2451099999999542
51.63429000000008 -0.13365999999996347
51.44822000000005 -0.1483899999999494
51.499600000000044 -0.09612999999995964
51.523610000000076 -0.09876999999994496
51.53312000000005 0.08407653200004006
51.50642000000005 -0.1272099999999341
51.47052000000008 0.14670637700004363
51.47457000000003 -0.24211999999994305
51.452067760578885 0.1722299153689439
51.615680000000054 -0.2451099999999542
51.64441500000004 -0.17918542799992565
51.53792000000004 -0.09982999999994036
51.46760000000006 -0.16289999999997917
51.51494000000008 -0.1804799999999318
51.41009000000008 -0.05682999999993399
51.50913000000003 0.015280000000075233
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.38475500000004 -0.051498623999975734
51.48944000000006 -0.26193999999992457
51.49713000000003 -0.13828999999992675
51.43722000000008 -0.018679999999960728
51.62043771181625 -0.30130161650491155
51.50642000000005 -0.1272099999999341
51.555060000000026 -0.1734799999999268
51.48547000000008 0.14300741500005643
51.499600000000044 -0.09612999999995964
51.50642000000005 -0.1272099999999341
51.52669000000003 -0.06256999999993695
51.50642000000005 -0.1272099999999341
51.492450000000076 0.12127000000003818
51.415095000000065 -0.035402759999954014
51.27172802817503 0.07471050704375404
51.45228085561464 0.09979729725390507
51.51389000000006 -0.10433999999997923
51.47138000000007 0.023380000000031487
51.44759000000005 0.013500000000021828
51.51122000000004 -0.012639999999976226
51.60203000000007 -0.6346699999999714
51.524500000000046 -0.12272999999993317
51.65366000000006 -0.11061428599992951
51.60214000000008 -0.11222999999995409
51.52702000000005 -0.02593999999993457
51.60214000000008 -0.11222999999995409
51.48770100000007 -0.29779338999992433
51.58912000000004 -0.2280999999999267
51.53916000000004 -0.2512299999999641
51.64322000000004 -0.04379024499996831
51.47480000000007 -0.09312999999997373
51.462680000000034 -0.035579999999924894
51.41671000000008 0.00904221200005395
51.52702000000005 -0.02593999999993457
51.415095000000065 -0.035402759999954014
51.49014000000005 -0.16247999999995955
51.541870000000074 -0.1979499999999348
51.616310000000055 -0.1383899999999585
51.64322000000004 -0.04379024499996831
51.604025000000036 -0.2626288639999643
51.58912000000004 -0.2280999999999267
51.47480000000007 -0.09312999999997373
51.52669000000003 -0.06256999999993695
51.53354000000007 -0.1460599999999772
51.51122000000004 -0.012639999999976226
51.576760000000036 0.027230000000031396
51.50913000000003 0.015280000000075233
51.53792000000004 -0.09982999999994036
51.50642000000005 -0.1272099999999341
51.47457000000003 -0.24211999999994305
51.50642000000005 -0.1272099999999341
51.43722000000008 -0.018679999999960728
51.572889625701485 0.14752774971940058
51.53354000000007 -0.1460599999999772
51.51651000000004 -0.11967999999995982
51.48759000000007 0.02912000000003445
51.50642000000005 -0.1272099999999341
51.36164530800005 -0.22356999999993832
51.49014000000005 -0.16247999999995955
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.562370000000044 -0.22130999999995993
51.51656000000003 -0.14769999999992933
51.44759000000005 0.013500000000021828
51.617800000000045 -0.009339999999951942
51.413275000000056 0.0874730970000428
51.48944000000006 -0.26193999999992457
51.53916000000004 -0.2512299999999641
51.60104000000007 -0.19400999999993473
51.46095000000008 -0.13921999999996615
51.523610000000076 -0.09876999999994496
51.50642000000005 -0.1272099999999341
51.58486000000005 -0.24880999999993492
51.50642000000005 -0.1272099999999341
51.421700000000044 -0.2079599999999573
51.59107000000006 -0.14851999999996224
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.38475500000004 -0.051498623999975734
51.41087440213694 -0.2919463207868962
51.50642000000005 -0.1272099999999341
51.51651000000004 -0.11967999999995982
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.54307422088052 0.25011357808526574
51.452067760578885 0.1722299153689439
51.53312000000005 0.08407653200004006
51.65366000000006 -0.11061428599992951
51.562370000000044 -0.22130999999995993
51.462680000000034 -0.035579999999924894
51.50642000000005 -0.1272099999999341
51.492450000000076 0.12127000000003818
51.58170000000007 -0.12092999999993026
51.38475500000004 -0.051498623999975734
51.42674000000005 -0.05532999999996946
51.51122000000004 -0.012639999999976226
51.345030070448836 0.13272550539320627
51.50913000000003 0.015280000000075233
51.50642000000005 -0.1272099999999341
51.54505000000006 -0.05531999999993786
51.50642000000005 -0.1272099999999341
51.53792000000004 -0.09982999999994036
51.47480000000007 -0.09312999999997373
51.48114000000004 -0.02466999999995778
51.50642000000005 -0.1272099999999341
51.562370000000044 -0.22130999999995993
51.50642000000005 -0.1272099999999341
51.41671000000008 0.00904221200005395
51.44100000000003 -0.08896999999996069
51.514530000000036 -0.31950999999997975
51.48563000000007 -0.1814399999999523
51.45066000000003 -0.18996999999995978
51.50642000000005 -0.1272099999999341
51.448444494776844 -0.44849227524521545
51.45256000000006 -0.0707599999999502
51.589270000000056 -0.16394999999994297
51.53292000000005 0.05461000000002514
51.46482000000003 -0.26590999999996257
51.45907500000004 0.0991206960000568
51.61291065511444 -0.37696639802957227
51.415095000000065 -0.035402759999954014
51.604025000000036 -0.2626288639999643
51.613740000000064 -0.0645999999999276
51.45374249766627 -0.32996134872866295
51.49084000000005 -0.11107999999995855
51.50642000000005 -0.1272099999999341
51.415095000000065 -0.035402759999954014
51.413275000000056 0.0874730970000428
51.444630000000075 0.05212000000005901
51.58370000000008 0.17476000000004888
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.65366000000006 -0.11061428599992951
51.64322000000004 -0.04379024499996831
51.498845000000074 0.1466047580000236
51.444630000000075 0.05212000000005901
51.523610000000076 -0.09876999999994496
51.44729925950719 -0.32846611197998826
51.615920000000074 -0.1767399999999384
51.523610000000076 -0.09876999999994496
51.56878000000006 -0.09846999999996342
51.51656000000003 -0.14769999999992933
51.452067760578885 0.1722299153689439
51.54668000000004 0.025580000000047676
51.441220000000044 -0.047639999999944393
51.38475500000004 -0.051498623999975734
51.59107000000006 -0.14851999999996224
51.64322000000004 -0.04379024499996831
51.616310000000055 -0.1383899999999585
51.555060000000026 -0.1734799999999268
51.47772000000003 -0.2014499999999657
51.45271782514859 -0.3301007034737104
51.47587015960119 0.2760657531204305
51.50642000000005 -0.1272099999999341
51.47587015960119 0.2760657531204305
51.43407000000008 -0.10374999999993406
51.50642000000005 -0.1272099999999341
51.576730000000055 -0.19694999999995844
51.50642000000005 -0.1272099999999341
51.555060000000026 -0.1734799999999268
51.58486000000005 -0.24880999999993492
51.63519000000008 -0.09302999999994199
51.50642000000005 -0.1272099999999341
51.48454000000004 0.002750000000048658
51.48944000000006 -0.26193999999992457
51.44759000000005 0.013500000000021828
51.48944000000006 -0.26193999999992457
51.529675000000054 -0.08347027899992554
51.54505000000006 -0.05531999999993786
51.53777000000008 -0.04479999999995243
51.53777000000008 -0.04479999999995243
51.50642000000005 -0.1272099999999341
51.52669000000003 -0.06256999999993695
51.50642000000005 -0.1272099999999341
51.615680000000054 -0.2451099999999542
51.44075000000004 -0.28208817499995575
51.49617000000006 -0.22934999999995398
51.555060000000026 -0.1734799999999268

51.589270000000056 -0.16394999999994297
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.35142941071637 -0.24988108535584375
51.50878000000006 -0.3362999999999374
51.44864734579377 -0.3294047593453292
51.50642000000005 -0.1272099999999341
51.53916000000004 -0.2512299999999641
51.50510549999999 -0.4275742499999865
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.58151000000004 -0.07589999999993324
51.567890615208455 -0.3394832478241024
51.567890615208455 -0.3394832478241024
51.50642000000005 -0.1272099999999341
51.61291065511444 -0.37696639802957227
51.448444494776844 -0.44849227524521545
51.66208623796546 0.18662121631421688
51.50642000000005 -0.1272099999999341
51.50510549999999 -0.4275742499999865
51.50642000000005 -0.1272099999999341
51.58912000000004 -0.2280999999999267
51.45529000000005 -0.09927999999996473
51.50642000000005 -0.1272099999999341
51.617800000000045 -0.009339999999951942
51.553180000000054 -0.09838999999993803
51.57145000000003 -0.14982999999995172
51.50642000000005 -0.1272099999999341
51.46196000000003 -0.007539999999949032
51.524500000000046 -0.12272999999993317
51.512440000000026 -0.20638999999994212
51.55457000000007 -0.11477999999993926
51.53777000000008 -0.04479999999995243
51.441220000000044 -0.047639999999944393
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.44759000000005 0.013500000000021828
51.58170000000007 -0.12092999999993026
51.471390726355075 -0.3513748870497065
51.53792000000004 -0.09982999999994036
51.58486000000005 -0.24880999999993492
51.50642000000005 -0.1272099999999341
51.55116000000004 0.07895962300005976
51.51122000000004 -0.012639999999976226
51.474388935888705 -0.3439650135885245
51.53792000000004 -0.09982999999994036
51.50642000000005 -0.1272099999999341
51.49084000000005 -0.11107999999995855
51.53916000000004 -0.2512299999999641
51.49807000000004 -0.17403999999993403
51.55570000000006 -0.13925999999997885
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.47138000000007 0.023380000000031487
51.541870000000074 -0.1979499999999348
51.524500000000046 -0.12272999999993317
51.58486000000005 -0.24880999999993492
51.457550000000026 -0.21844999999996162
51.41087440213694 -0.2919463207868962
51.49713000000003 -0.13828999999992675
51.46196000000003 -0.007539999999949032
51.499600000000044 -0.09612999999995964
51.45228085561464 0.09979729725390507
51.50642000000005 -0.1272099999999341
51.558850000000064 -0.00732999999996764
51.51122000000004 -0.012639999999976226
51.50642000000005 -0.1272099999999341
51.44759000000005 0.013500000000021828
51.48547000000008 0.14300741500005643
51.46196000000003 -0.007539999999949032
51.558850000000064 -0.00732999999996764
51.576760000000036 0.027230000000031396
51.51122000000004 -0.012639999999976226
51.53398000000004 -0.17377999999996518
51.552410000000066 0.05258000000003449
51.525870000000054 -0.19525999999996202
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.444630000000075 0.05212000000005901
51.558970000000045 -0.05322999999992817
51.392201353000075 -0.2159499999999639
51.55116000000004 0.07895962300005976
51.525870000000054 -0.19525999999996202
51.50642000000005 -0.1272099999999341
51.56878000000006 -0.09846999999996342
51.552410000000066 0.05258000000003449
51.572889625701485 0.14752774971940058
51.540140000000065 0.0027800000000297587
51.51656000000003 -0.14769999999992933
51.51656000000003 -0.14769999999992933
51.48454000000004 0.002750000000048658
51.421700000000044 -0.2079599999999573
51.444630000000075 0.05212000000005901
51.52022000000005 -0.054309999999929914
51.615680000000054 -0.2451099999999542
51.49713000000003 -0.13828999999992675
51.51122000000004 -0.012639999999976226
51.40262500000006 -0.14363752499997418
51.64441500000004 -0.17918542799992565
51.392201353000075 -0.2159499999999639
51.392201353000075 -0.2159499999999639
51.46482000000003 -0.26590999999996257
51.393815000000075 -0.24302518299992926
51.444630000000075 0.05212000000005901
51.59107000000006 -0.14851999999996224
51.55457000000007 -0.11477999999993926
51.53916000000004 -0.2512299999999641
51.38475500000004 -0.051498623999975734
51.64441500000004 -0.17918542799992565
51.47489000000007 -0.04037999999997055
51.444630000000075 0.05212000000005901
51.393815000000075 -0.24302518299992926
51.616310000000055 -0.1383899999999585
51.50642000000005 -0.1272099999999341
51.487640000000056 -0.09541999999993322
51.476230000000044 -0.13055999999994583
51.66208623796546 0.18662121631421688
51.35142941071637 -0.24988108535584375
51.41870000000006 -0.12752999999997883
51.452067760578885 0.1722299153689439
51.50642000000005 -0.1272099999999341
51.615920000000074 -0.1767399999999384
51.567890615208455 -0.3394832478241024
51.512440000000026 -0.20638999999994212
51.54307422088052 0.25011357808526574
51.50642000000005 -0.1272099999999341
51.50913000000003 0.015280000000075233
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.512440000000026 -0.20638999999994212
51.47218000000004 -0.0677899999999454
51.63261000000006 -0.17561999999992395
51.50642000000005 -0.1272099999999341
51.52702000000005 -0.02593999999993457
51.50642000000005 -0.1272099999999341
51.53916000000004 -0.2512299999999641
51.50642000000005 -0.1272099999999341
51.63429000000008 -0.13365999999996347
51.474388935888705 -0.3439650135885245
51.49084000000005 -0.11107999999995855
51.51494000000008 -0.1804799999999318
51.620040000000074 -0.10663999999997031
51.53916000000004 -0.2512299999999641
51.47772000000003 -0.2014499999999657
51.47218000000004 -0.0677899999999454
51.41009000000008 -0.05682999999993399
51.53792000000004 -0.09982999999994036
51.50642000000005 -0.1272099999999341
51.44075000000004 -0.28208817499995575
51.50642000000005 -0.1272099999999341
51.49713000000003 -0.13828999999992675
51.61291065511444 -0.37696639802957227
51.52653000000004 0.02876000000003387
51.41671000000008 0.00904221200005395
51.48207000000008 0.07143000000002075
51.64322000000004 -0.04379024499996831
51.51122000000004 -0.012639999999976226
51.50642000000005 -0.1272099999999341
51.55076000268121 -0.29333510060184487
51.53398000000004 -0.17377999999996518
51.50642000000005 -0.1272099999999341
51.457550000000026 -0.21844999999996162
51.541870000000074 -0.1979499999999348
51.604025000000036 -0.2626288639999643
51.57950850000002 0.18866474999999266
51.52022000000005 -0.054309999999929914
51.61291065511444 -0.37696639802957227
51.41117000000003 -0.22622999999993
51.50642000000005 -0.1272099999999341
51.44075000000004 -0.28208817499995575
51.50642000000005 -0.1272099999999341
51.457550000000026 -0.21844999999996162
51.49636583053916 0.23244676903041958
51.49574000000007 -0.051569999999969696
51.50642000000005 -0.1272099999999341
51.574087509792236 0.16794020563662185
51.451503102295796 0.17638251139068692
51.50642000000005 -0.1272099999999341
51.47772000000003 -0.2014499999999657
51.39925000000005 -0.07413999999994303
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.58151000000004 -0.07589999999993324
51.56350000000003 -0.07312999999993508
51.52022000000005 -0.054309999999929914
51.50645000000003 -0.2369099999999662
51.38475500000004 -0.051498623999975734
51.48207000000008 0.07143000000002075
51.53792000000004 -0.09982999999994036
51.451503102295796 0.17638251139068692
51.50913000000003 0.015280000000075233
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.576760000000036 0.027230000000031396
51.51656000000003 -0.14769999999992933
51.53354000000007 -0.1460599999999772
51.50642000000005 -0.1272099999999341
51.53777000000008 -0.04479999999995243
51.50642000000005 -0.1272099999999341
51.57950850000002 0.18866474999999266
51.49807000000004 -0.17403999999993403
51.39925000000005 -0.07413999999994303
51.50642000000005 -0.1272099999999341
51.421700000000044 -0.2079599999999573
51.589770000000044 0.030520000000024083
51.58151000000004 -0.07589999999993324
51.43722000000008 -0.018679999999960728

51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.45066000000003 -0.18996999999995978
51.63429000000008 -0.13365999999996347
51.52022000000005 -0.054309999999929914
51.392201353000075 -0.2159499999999639
51.49713000000003 -0.13828999999992675
51.45374249766627 -0.32996134872866295
51.51651000000004 -0.11967999999995982
51.462680000000034 -0.035579999999924894
51.53398000000004 -0.17377999999996518
51.523610000000076 -0.09876999999994496
51.50642000000005 -0.1272099999999341
51.524500000000046 -0.12272999999993317
51.50642000000005 -0.1272099999999341
51.58151000000004 -0.07589999999993324
51.62043771181625 -0.30130161650491155
51.52022000000005 -0.054309999999929914
51.476230000000044 -0.13055999999994583
51.56350000000003 -0.07312999999993508
51.53916000000004 -0.2512299999999641
51.540140000000065 0.0027800000000297587
51.45374249766627 -0.32996134872866295
51.41870000000006 -0.12752999999997883
51.56878000000006 -0.09846999999996342
51.567890615208455 -0.3394832478241024
51.41671000000008 0.00904221200005395
51.50642000000005 -0.1272099999999341
51.49574000000007 -0.051569999999969696
51.50642000000005 -0.1272099999999341
51.555060000000026 -0.1734799999999268
51.42674000000005 -0.05532999999996946
51.44100000000003 -0.08896999999996069
51.45374249766627 -0.32996134872866295
51.51389000000006 -0.10433999999997923
51.64441500000004 -0.17918542799992565
51.50527000000005 0.12013000000007423
51.39631500000007 -0.10660837699992953
51.55076000268121 -0.29333510060184487
51.50642000000005 -0.1272099999999341
51.43037000000004 -0.1655799999999772
51.43037000000004 -0.1655799999999772
51.58151000000004 -0.07589999999993324
51.58151000000004 -0.07589999999993324
51.58151000000004 -0.07589999999993324
51.63261000000006 -0.17561999999992395
51.51200000000006 -0.08057999999994081
51.56393000000003 -0.12944999999996298
51.45529000000005 -0.09927999999996473
51.58170000000007 -0.12092999999993026
51.45374249766627 -0.32996134872866295
51.54307422088052 0.25011357808526574
51.50642000000005 -0.1272099999999341
51.558970000000045 -0.05322999999992817
51.56393000000003 -0.12944999999996298
51.41990000000004 -0.08807999999993399
51.451503102295796 0.17638251139068692
51.58477000000005 -0.019429999999942993
51.50642000000005 -0.1272099999999341
51.52653000000004 0.02876000000003387
51.50642000000005 -0.1272099999999341
51.476230000000044 -0.13055999999994583
51.38475500000004 -0.051498623999975734
51.37538082912862 -0.15232342204289587
51.58477000000005 -0.019429999999942993
51.58477000000005 -0.019429999999942993
51.487640000000056 -0.09541999999993322
51.45066000000003 -0.18996999999995978
51.576760000000036 0.027230000000031396
51.52022000000005 -0.054309999999929914
51.50642000000005 -0.1272099999999341
51.444630000000075 0.05212000000005901
51.45907500000004 0.0991206960000568
51.55076000268121 -0.29333510060184487
51.55076000268121 -0.29333510060184487
51.57950850000002 0.18866474999999266
51.48563000000007 -0.1814399999999523
51.50642000000005 -0.1272099999999341
51.514530000000036 -0.31950999999997975
51.58151000000004 -0.07589999999993324
51.56350000000003 -0.07312999999993508
51.540140000000065 0.0027800000000297587
51.541870000000074 -0.1979499999999348
51.50642000000005 -0.1272099999999341
51.492450000000076 0.12127000000003818
51.58486000000005 -0.24880999999993492
51.49568000000005 -0.2099299999999289
51.43407000000008 -0.10374999999993406
51.50642000000005 -0.1272099999999341
51.47138000000007 0.023380000000031487
51.49713000000003 -0.13828999999992675
51.63261000000006 -0.17561999999992395
51.50645000000003 -0.2369099999999662
51.52022000000005 -0.054309999999929914
51.41671000000008 0.00904221200005395
51.50642000000005 -0.1272099999999341
51.53916000000004 -0.2512299999999641
51.48563000000007 -0.1814399999999523
51.63519000000008 -0.09302999999994199
51.60214000000008 -0.11222999999995409
51.589770000000044 0.030520000000024083
51.608869076000076 0.015320000000031087
51.474388935888705 -0.3439650135885245
51.38475500000004 -0.051498623999975734
51.615920000000074 -0.1767399999999384
51.48207000000008 0.07143000000002075
51.50642000000005 -0.1272099999999341
51.50645000000003 -0.2369099999999662
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341

### Merge to the previous dataframe

In [9]:
df[['Latitude','Longitude']]=pd.DataFrame(coords_list,columns=['Latitude', 'Longitude'])
df.head()

,Location,London_borough,Post town,Postcode district,Latitude,Longitude
1,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,51.513240,-0.267460
2,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",51.384755,-0.051499
3,Addington,Croydon[8],CROYDON,CR0,51.384755,-0.051499
4,Addiscombe,Croydon[8],CROYDON,CR0,51.452068,0.172230
5,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",51.506420,-0.127210

In [10]:
# Save it to a CSV file
df.to_csv(r'./LondonPostCodeDistrict.csv')

### 2. Must-visit places information - from one (or multiple) review article https://foursquare.com/gmissawa/list/places-to-visit-in-london

In [13]:
#Get the data with beautifulsoup
source = requests.get('https://foursquare.com/gmissawa/list/places-to-visit-in-london').text
soup = BeautifulSoup(source,'lxml')
#print(soup.prettify())

In [14]:
# Scraping the venue information
match = soup.find('div', class_='venueInfo')
#print(match.prettify())

In [197]:
# Scraping trial, to find all the information in the first entry
# venue_name = match.find('p', class_ = 'venueName')
# rating = match.find('div', class_ = 'rating')
# category = match.find('span', class_ = "unlinkedCategory")

# print (venue_name.text)
# print(rating.text)
# print(category.text)

In [211]:
# Save as csv
csv_file = open('London_venue.csv','w')
csv_writer = csv.writer(csv_file, lineterminator='\n')
csv_writer.writerow(['Venue Name', 'Category', 'Rating', 'Venue ID'])

# Loop through all the venues and save the inforamtion into a list
for match in soup.find_all('div', class_='venueInfo'):
    
    venue_name = match.find('p', class_ = 'venueName').text
    category = match.find('span', class_ = "unlinkedCategory").text
#     print (venue_name)
#     print(category)
    
    try:
        rating = match.find('div', class_ = 'rating').text
#         print(rating)
        venue_src = match.find('a')['href']
        venue_id = venue_src.split('/')[3]
#         print(venue_id)
    except Exception as e:
        rating = 'NaN'
#         print('NaN')
        veneue_id = 'NaN'
    # Save as csv
    csv_writer.writerow([venue_name, category, rating, venue_id])

csv_file.close()

In [27]:
# Read csv file as pandas dataframe
df_ln = pd.read_csv("London_venue3.csv", encoding = "ISO-8859-1")
# print(df_ln.head())
# print(df_ln.shape)

df_2 = df_ln.rename(columns={'Venue Name':'name', 'Category':'category','Rating':'rating','Venue ID':'ID'})
df_2.head(20)

#df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
#df_2 = pd.DataFrame(df_ln, columns = ['name', 'category', 'rating','ID'])
#df_2.head()

,name,category,rating,ID
0,Big Ben (Elizabeth Tower),Monument / Landmark,9.3,4ac518cef964a520f6a520e3
1,The London Eye,Scenic Lookout,9.2,4ac518cef964a52021a620e3
2,Trafalgar Square,Plaza,9.2,4ac518cef964a520f9a520e3
3,Tower of London,Castle,9.2,4ac518cef964a520f7a520e3
4,Westminster Abbey,Church,9.2,4ac518cdf964a520eea520e3
5,British Museum,History Museum,9.4,4ac518d2f964a5203da720e3
6,St Paul's Cathedral,Church,9.2,4ac518cef964a520f5a520e3
7,Tower Bridge,Bridge,9.5,4ac518cef964a520f8a520e3
8,Buckingham Palace,Palace,8.7,4abe4502f964a520558c20e3
9,Piccadilly Circus,Plaza,9.0,4c9c6a059c48236a1cb14dee
10,Covent Garden Market,Shopping Plaza,9.3,4ba6419bf964a520b23f39e3
11,Madame Tussauds,Museum,8.7,4ac518cef964a520fca520e3
12,Apple Covent Garden,Electronics Store,9.0,4c48305e96abd13aa25e7301
13,Natural History Museum,Science Museum,9.2,4ac518cdf964a520e8a520e3
14,Science Museum,Science Museum,NaN,4ac518cdf964a520e8a520e3
15,Royal Albert Hall,Concert Hall,9.5,4ac518e8f964a52075ab20e3
16,Hyde Park,Park,9.6,4ac518d2f964a52026a720e3
17,London King's Cross Railway Station (KGX),Train Station,8.0,4af33684f964a520c7eb21e3
18,Dominion Theatre,Theater,NaN,4af33684f964a520c7eb21e3
19,Portobello Road,Road,8.7,4b6ecaa7f964a520bbca2ce3

#### Get more informaiton from Foursquare based on venue ID (This part can be skipped, since the inforamtion are saved into a .csv file)

The webscraping step has got some venue id that corresponse to the same venue, the venue informaiton of 78 is received. Due to the number of requests for Foursquare is limited, in this work, we will use 78 popular venunes' information as an case study. This part can be improved in the future to include all the poluplar venues.

In [29]:
# Directly read from the csv file, the code used to generate the csv file is in Appendix Section
df_venue = pd.read_csv("df_venue.csv")
#print(df_venue.head())
print(df_venue.shape)
df_venue.head(20)

(78, 7)

,Unnamed: 0,location.lat,location.lng,location.postalCode,name,rating,likes.count
0,37,51.512726,-0.201859,W11 2QD,Alice's,8.2,9
1,19,51.512841,-0.127896,WC2H 9ND,Ambassadors Theatre,8.1,73
2,12,51.512211,-0.123566,WC2E 8HB,Apple Covent Garden,9.0,2180
3,32,51.519800,-0.093969,EC2Y 8DS,Barbican Art Gallery,9.2,273
4,36,51.519855,-0.093942,EC2Y 8DS,Barbican Centre,9.3,1763
5,5,51.519009,-0.126437,WC1B 3DG,British Museum,9.4,8498
6,8,51.500956,-0.143123,SW1A 1AA,Buckingham Palace,8.7,6627
7,20,51.541475,-0.146084,NW1 8AF,Camden Lock Market,9.1,3789
8,34,51.502079,-0.129305,SW1A 2AQ,Churchill War Rooms (Churchill Museum & Cabine...,9.1,503
9,10,51.511977,-0.122799,WC2E 8RF,Covent Garden Market,9.3,3409
10,0,51.500620,-0.124578,SW1A 0AA,Elizabeth Tower (Big Ben) (Big Ben (Elizabeth ...,9.3,6439
11,30,51.555247,-0.108361,N5 1BU,Emirates Stadium,8.8,2200
12,37,51.515108,-0.127132,WC2H 8JR,Forbidden Planet,9.1,971
13,36,51.504656,-0.143788,SW1A 1BW,Green Park,9.3,2606
14,27,51.477521,0.000858,SE10 9NF,Greenwich Park,9.6,1358
15,14,51.506599,-0.081507,SE1 2JH,HMS Belfast (HMS Belfast (C35)),8.4,262
16,29,51.403235,-0.337400,KT8 9AU,Hampton Court Palace,9.3,775
17,33,51.515647,-0.090997,EC2V 5BQ,Hawksmoor Guildhall,8.7,294
18,16,51.507781,-0.162392,W2 2TP,Hyde Park,9.6,11445
19,24,51.495985,-0.108642,SE1 6HZ,Imperial War Museum,9.0,879

### This is the second part of data of popular attractions in London with the latitude and logitude, number of likes, name of the venue and postcode.

In [14]:
#df_venue

In [28]:
# Merge df_venue with df_2
df = pd.merge(df_venue, df_2, on='name')
df.head()

Empty DataFrame
Columns: [Unnamed: 0, location.lat, location.lng, location.postalCode, name, rating_x, likes.count, category, rating_y, ID]
Index: []

### Appendix: Code used to do webscraping and making foursquare API requests

#### Read the information from csv file (generated from Foursquare requests)

In [35]:
CLIENT_ID= 'EL0QYZH3NAVAKDR2M5EGMSKEFEM3BXPO2CHPEMNR4GDAF3VL'
CLIENT_SECRET= 'MYTF243JWF3F1RLYHNLQQXNQHBHMYFKEJJWAG0QKN0TTJRRS'

In [36]:
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID:
CLIENT_SECRET:

In [ ]:
# # Loop through df_ln datafrmae limited to first 45 items (each account has 50 request/day)
# df_4s = pd.DataFrame([])
# for i in range(136):
#     venue_id = df_ln['Venue ID'][i]
#     #print(venue_id)
    
#     url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
#     #print(url)
    
#     #Request from foursqure
#     result = requests.get(url).json()
#     #print(result)
    
#     #assign relevant part of JSON to venue
#     venues = result['response']['venue']
#     dataframe = json_normalize(venues)
    
#     df_4s = df_4s.append(dataframe)

# #print(df_4s.head())

In [142]:
# data1 = pd.read_csv("place1to39.csv")
# data2 = pd.read_csv("place40to89.csv")
# data3 = pd.read_csv("place90to136.csv")
# columnsnew =['location.lat','location.lng', 'location.postalCode', 'name', 'rating', 'likes.count']
# data1_=data1[columnsnew]
# data2_=data2[columnsnew]
# data3_=data3[columnsnew]
# print('size of data1, data2, data3:', data1_.shape, data2_.shape, data3_.shape)

# dfall = data1_.append(data2_)
# dfall = dfall.append(data3_)

# print('size of dfall:', dfall.shape)

# #Remove duplicates
# dfall.sort_values('name', inplace=True)
# dfall.drop_duplicates(subset ="name", 
#                      keep = False, inplace = True) 
# dfall.shape
# # Save to a csv 
# dfall.to_csv(r'./df_venue.csv')

In [ ]:
# # Save the requests into csv file 
# df_4s.to_csv(r'./place45.csv')