# Capstone Project: 
# Best Places to Travel & Eat in London for First-time Visitor

![title: City View at London - Photo by Dominika Gregu코ov치 from Pexels](./city-view-at-London.jpg)
<p1><i><center>Figure 1. City View at London - Photo by Dominika Gregu코ov치 from Pexels</center></i></p1>

## 1. Introduction

London is one of the world hottest travel destinations with travellers from all over the world. With its famous landmarks and iconic sights, the number of attractions to visit can be overwhelming to the first-time visitors who are trying to make the BEST travel plan. To find the best restaurants after visiting each attraction is another challenging task to achieve for the first-time visitors.

There are two parts of this project: first, is to decide the must-go attractions of London. Let's assume that we can only travel in one neighbourhood per day. The must-go attractions will be ranked based on the neighbourhood they located. Only the top 5 (based on ranking) in each neighbourhood will be selected as the must-go attractions. Second, to find the best restaurant close to the must-go attractions.The locations of neighborhood of London is retrived from wikipedia page [2].

<i>Part 1:</i> The must-go attractions will be decided based on popular reviews. In this project, we use a foursquare user's (Gilson Missawa) detailed must-travel list in London as a reference[1]. There are 136 attractions recommended in Gilson's list. We randomly chose 78 from the list (due to the limited requests we can get from Foursquare API as free user). In the future, we can extend the possible destinations by adding and comparing the travel guidelines from different sources. To have the top 5 attractions in each neighbourhood, London neighbourhood information will also be explored.

<i>Part 2:</i> The best restaurant will be decided based on two criteria: 1. the review, 2. the distance from the must-go attraction. The higher ranked and closer restaurant is the better option.

<i>Methodology in details:</i>
1. Rank the 78 attractions by category. The top 5 attractions in each category will be highlighted as must-go attractions on the map.
2. Explore the neighbourhood of London. The must-go attractions in each neighborhood will be ranked by category.
3. Highlight the restaurants based on the distance to the must-go attraction as well as 
the foursquare review.
4. Generate a travel plan with must-go attractions and the most suitable restaurant! (The final plan may turn out to be not so interesting, so we will discuss the reason in the discussion section)

<h5>Reference</h5>
1. Gilson Missawa(March 14, 2017), Places to Travel in London, https://foursquare.com/gmissawa/list/places-to-visit-in-london 
2. Areas of London, https://en.wikipedia.org/wiki/List_of_areas_of_London

In [3]:
import numpy as np
import pandas as pd

from bs4 import BeautifulSoup
import requests

## 2. Data Collection
### 2.1. Get the Must-go Destination Data

In [22]:
#Get the data with beautifulsoup  https://foursquare.com/gmissawa/list/places-to-visit-in-london
df_venue = pd.read_csv("df_venue.csv")
df_venue.sort_values('rating', ascending=False, inplace = True)
df_venue.head(20)

,Unnamed: 0,location.lat,location.lng,location.postalCode,name,rating,likes.count
18,16,51.507781,-0.162392,W2 2TP,Hyde Park,9.6,11445
14,27,51.477521,0.000858,SE10 9NF,Greenwich Park,9.6,1358
72,45,51.689539,-0.419315,WD25 7LR,Warner Bros. Studio Tour London - The Making o...,9.6,2837
68,7,51.505550,-0.075338,SE1 2UP,Tower Bridge,9.5,5471
40,15,51.501122,-0.177417,SW7 2AP,Royal Albert Hall,9.5,2536
41,16,51.477748,-0.296631,TW9 3AB,"Royal Botanic Gardens (Royal Botanic Gardens, ...",9.5,1368
49,35,51.503253,-0.132995,SW1A 2BJ,St James's Park,9.5,3090
71,34,51.496369,-0.172388,SW7 2RL,Victoria and Albert Museum (V&A),9.4,4957
5,5,51.519009,-0.126437,WC1B 3DG,British Museum,9.4,8498
43,49,51.513083,-0.121968,WC2E 9DD,Royal Opera House,9.3,1045
44,44,51.490689,-0.158916,SW3 4RY,Saatchi Gallery,9.3,1380
16,29,51.403235,-0.337400,KT8 9AU,Hampton Court Palace,9.3,775
76,0,51.484029,-0.604441,SL4 1NJ,Windsor Castle,9.3,1200
38,6,51.513416,-0.131648,W1D 4HT,Ronnie Scott's Jazz Club,9.3,590
13,36,51.504656,-0.143788,SW1A 1BW,Green Park,9.3,2606
10,0,51.500620,-0.124578,SW1A 0AA,Elizabeth Tower (Big Ben) (Big Ben (Elizabeth ...,9.3,6439
4,36,51.519855,-0.093942,EC2Y 8DS,Barbican Centre,9.3,1763
9,10,51.511977,-0.122799,WC2E 8RF,Covent Garden Market,9.3,3409
69,3,51.508248,-0.076261,EC3N 4AB,Tower of London,9.2,4842
29,22,51.514314,-0.126824,WC2H 9EU,Monmouth Coffee Company,9.2,1476

In [16]:
df_venue.shape

(78, 7)

### 2.2 Get the London neighborhood information

In [21]:
#Get the data with beautifulsoup https://en.wikipedia.org/wiki/List_of_areas_of_London
df_ln = pd.read_csv("LondonPostCodeDistrict.csv")
df_ln.head(20)

,Unnamed: 0,Location,London_borough,Post town,Postcode district,Latitude,Longitude
0,1,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,51.513240,-0.267460
1,2,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",51.384755,-0.051499
2,3,Addington,Croydon[8],CROYDON,CR0,51.384755,-0.051499
3,4,Addiscombe,Croydon[8],CROYDON,CR0,51.452068,0.172230
4,5,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",51.506420,-0.127210
5,6,Aldborough Hatch,Redbridge[9],ILFORD,IG2,51.512000,-0.080580
6,7,Aldgate,City[10],LONDON,EC3,51.516510,-0.119680
7,8,Aldwych,Westminster[10],LONDON,WC2,51.506420,-0.127210
8,9,Alperton,Brent[11],WEMBLEY,HA0,51.410090,-0.056830
9,10,Anerley,Bromley[11],LONDON,SE20,51.523610,-0.098770
10,11,Angel,Islington[8],LONDON,"EC1, N1",51.271728,0.074711
11,12,Aperfield,Bromley[11],WESTERHAM,TN16,51.563930,-0.129450
12,13,Archway,Islington[12],LONDON,N19,51.583700,0.174760
13,14,Ardleigh Green,Havering[12],HORNCHURCH,RM11,51.615680,-0.245110
14,15,Arkley,Barnet[12],"BARNET, LONDON","EN5, NW7",51.634290,-0.133660
15,16,Arnos Grove,Enfield[12],LONDON,"N11, N14",51.448220,-0.148390
16,17,Balham,Wandsworth[13],LONDON,SW12,51.499600,-0.096130
17,18,Bankside,Southwark[14],LONDON,SE1,51.523610,-0.098770
18,19,Barbican,City[14],LONDON,EC1,51.533120,0.084077
19,20,Barking,Barking and Dagenham[14],BARKING,IG11,51.506420,-0.127210

In [18]:
df_ln.shape

(533, 7)