## Toronto Neighborhood Part 2: Add Lognitude and Altitude information

In [2]:
import pandas as pd
import numpy as np
import csv

### 1. Load the data of Postcode, Borough, Neighborhood

In [15]:
data = pd.read_csv("toronto.csv") 

#Drop the rows with borough that is 'not assigned'
df = data[data.Borough != 'Not assigned']

#Check the neighborhood with Not assigned
checkdf = df.Neighborhood == 'Not assigned'
#Change the 'not assigned' neighborhood to the borough name
column_name = 'Neighborhood'
df.loc[checkdf, column_name] = df.loc[checkdf, 'Borough']

#Combine the neighborhoods with same postcode in one row
nh = df.groupby('Postcode')['Neighborhood'].apply(list)
nhdf = pd.DataFrame(nh)
nhdf = nhdf.reset_index()
# Create a dataframe with only borough and postal code
br= df.drop('Neighborhood', 1)

#Join new dataframe gk with the column Borough
df1 = pd.merge(br, nhdf, on='Postcode', how='inner')

#Drop duplicates
df1 = df1.loc[df1.astype(str).drop_duplicates().index]

#Reset index, drop the extra index column
df1 = df1.reset_index()
df1 = df1. drop('index', 1)

#Print the dataframe
df1.head()
print(df1.count())

Postcode        103
Borough         103
Neighborhood    103
dtype: int64

C:\Users\mpegyil\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\mpegyil\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

## 2. Load the Geospatial Coordinates of each postcode

In [14]:
# Load the csv file with Latitude and Longitude
coord = pd.read_csv('Geospatial_Coordinates.csv')
coord.head()
print(coord.count())

Postal Code    103
Latitude       103
Longitude      103
dtype: int64

In [18]:
# Change the column name "Postal Code" to "Postcode"
coord.columns = ['Postcode', 'Latitude', 'Longitude']
coord.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [20]:
# Join the latitude and longitude with previous dataframe
df2 = pd.merge(df1, coord, on='Postcode', how='inner')
df2.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,[Parkwoods],43.753259,-79.329656
1,M4A,North York,[Victoria Village],43.725882,-79.315572
2,M5A,Downtown Toronto,[Harbourfront],43.654260,-79.360636
3,M6A,North York,"[Lawrence Heights, Lawrence Manor]",43.718518,-79.464763
4,M7A,Queen's Park,[Queen's Park],43.662301,-79.389494